.DS_Store
/dist/

# Editor directories and files
yarn.lock
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln


# Node.js and npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Webpack
dist/

# Vue.js
*.vue.js.map
*.vue.css.map

# TypeScript
tsconfig.tsbuildinfo

# ESLint
.eslintcache
*.eslintcache
