<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rabbiter.oes.system.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.rabbiter.oes.system.entity.SysUser">
        <!--@Table sys_user-->
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="account" column="account" jdbcType="VARCHAR"/>
        <result property="pwd" column="pwd" jdbcType="VARCHAR"/>
        <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="CHAR"/>
        <result property="sex" column="sex" jdbcType="CHAR"/>
        <result property="tel" column="tel" jdbcType="CHAR"/>
        <result property="idCard" column="id_card" jdbcType="CHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="deleteFlag" column="delete_flag" jdbcType="TINYINT" javaType="Boolean"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="DATE"/>
        <result property="modifiedBy" column="modified_by" jdbcType="VARCHAR"/>
        <result property="modifiedTime" column="modified_time" jdbcType="DATE"/>
    </resultMap>

    <update id="updateUserAvatar">
        update sys_user
        set avatar = #{avatar}
        where account = #{account}
    </update>

    <sql id="selectBaseInfo">
        select user_id,
               account,
               nick_name,
               avatar,
               status,
               sex,
               tel,
               id_card,
               email,
               delete_flag,
               create_by,
               create_time,
               modified_by,
               modified_time
        from sys_user u
    </sql>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        <include refid="selectBaseInfo"/>
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="account != null and account != ''">
                and account = #{account}
            </if>
            <if test="nickName != null and nickName != ''">
                and nick_name = #{nickName}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="sex != null and sex != ''">
                and sex = #{sex}
            </if>
            <if test="tel != null and tel != ''">
                and tel = #{tel}
            </if>
            <if test="idCard != null and idCard != ''">
                and id_card = #{idCard}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="isDelete != null">
                and delete_flag = #{isDelete}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="modifiedBy != null and modifiedBy != ''">
                and modified_by = #{modifiedBy}
            </if>
            <if test="modifiedTime != null">
                and modified_time = #{modifiedTime}
            </if>
        </where>
    </select>

    <select id="checkAccountUnique" resultType="com.rabbiter.oes.system.entity.SysUser">
        select user_id, account
        from sys_user
        where account = #{account}
        limit 1
    </select>
    <select id="checkPhoneUnique" resultType="com.rabbiter.oes.system.entity.SysUser">
        select user_id, tel
        from sys_user
        where tel = #{tel}
        limit 1
    </select>
    <select id="checkEmailUnique" resultType="com.rabbiter.oes.system.entity.SysUser">
        select user_id, email
        from sys_user
        where email = #{email}
        limit 1
    </select>
</mapper>

